@font-face {
    font-family: 'Junior';
    src: url("../../fonts/JuniorBold.woff2") format('woff2'),
        url("../../fonts/JuniorBold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-ThinItalic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-ThinItalic.woff") format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-BoldItalic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-BlackItalic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-BlackItalic.woff") format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-LightItalic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-LightItalic.woff") format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-SemiBoldItalic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-SemiBoldItalic.woff") format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-extrabold';
    src: url("../../fonts/subset-Poppins-ExtraBold.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-medium';
    src: url("../../fonts/subset-Poppins-Medium.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-semiBold';
    src: url("../../fonts/subset-Poppins-SemiBold.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-light';
    src: url("../../fonts/subset-Poppins-Light.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-extralight';
    src: url("../../fonts/subset-Poppins-ExtraLight.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-ExtraLight.woff") format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-black';
    src: url("../../fonts/subset-Poppins-Black.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-Black.woff") format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-MediumItalic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-MediumItalic.woff") format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-bold';
    src: url("../../fonts/subset-Poppins-Bold.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url("../../fonts/subset-Poppins-Regular.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-thin';
    src: url("../../fonts/subset-Poppins-Thin.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-Thin.woff") format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-Italic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-Italic.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-ExtraLightItalic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-ExtraLightItalic.woff") format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/subset-Poppins-ExtraBoldItalic.woff2") format('woff2'),
        url("../../fonts/subset-Poppins-ExtraBoldItalic.woff") format('woff');
    font-weight: 800;
    font-style: italic;
}

