{% extends 'base.html.twig' %}

{% block title %}Hello CommentCaMarcheController!{% endblock %}

{% block body %}
	{% include 'includes/header.html.twig' %}
    <div class="container internalContainerBig p-0">
        <h1 class="internalTitle">
            Comment ça marche ?
        </h1>
    </div>

    <div class="container-fluid p-0">
        <div id="carouselHow" class="container how-it-work carousel slide carousel-slide" data-ride="carousel" data-interval="false" data-bs-ride="carousel">
            <!-- Indicateurs -->
            <ul class="carousel-indicators">
                <button type="button" data-bs-target="#carouselHow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselHow" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselHow" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </ul>

            <!-- Carrousel -->
            <div class="how-bloc mb-3 text-center carousel-inner">
            <div class="carouselitem1 how carousel-item active" data-bs-interval="5000">
                <div class="how-body">
                    <img src="/img/comment-1.png" alt="tablette tactile" width="335" height="303" class="img-fluid">
                    <h3 class="m-auto">Rejoins toi aussi<br>ton quartier</h3>
                    <h4 class="position-relative">9<small class="position-absolute">€99/mois</small><span class="no-engagment">sans engagment</span></h4>
                </div>
            </div>
            <div class="carouselitem2 how carousel-item" data-bs-interval="5000">
                <div class="how-body">
                    <img src="/img/comment-2.png" alt="tablette tactile" width="336" height="303" class="img-fluid">
                    <h3 class="m-auto">Consulte les services<br>ou discute avec tes voisins</h3>
                    <h4 class="upper">Tout est inclus !</h4>
                </div>
            </div>
            <div class="carouselitem3 how carousel-item" data-bs-interval="5000">
                <div class="how-body">
                    <img src="/img/comment-3.png" alt="bulle et argent" width="326" height="303" class="img-fluid">
                    <h3 class="m-auto">Parraine et gagne de<br>l’argent tous les mois</h3>
                    <h4 class="upper">Arrondis tes fins de mois</h4>
                </div>
            </div>
            </div>
        
            <!-- Contrôles -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHow" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHow" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container how-it-work" style="display:none">
            <h2 class="text-center">Comment ça marche ?</h2>
            <div class="how-bloc mb-3 text-center">
                <div class="how mb-4">
                    <div class="how-body">
                        <img src="/img/comment-1.png" alt="tablette tactile" width="335" height="303" class="img-fluid">
                        <h3 class="m-auto">Rejoins toi aussi<br>ton quartier</h3>
                        <h4 class="position-relative">9<small class="position-absolute">€99/mois</small><span class="no-engagment">sans engagment</span></h4>
                    </div>
                </div>
                <div class="how mb-4">
                    <div class="how-body">
                        <img src="/img/comment-2.png" alt="tablette tactile" width="336" height="303" class="img-fluid">
                        <h3 class="m-auto">Consulte les services<br>ou discute avec tes voisins</h3>
                        <h4 class="upper">Tout est inclus !</h4>
                    </div>
                </div>
                <div class="how mb-4">
                    <div class="how-body">
                        <img src="/img/comment-3.png" alt="bulle et argent" width="326" height="303" class="img-fluid">
                        <h3 class="m-auto">Parraine et gagne de<br>l’argent tous les mois</h3>
                        <h4 class="upper">Arrondis tes fins de mois</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid sponsor-neighbors p-3">
            <h2 class="d-flex flex-column align-items-center position-relative">
                <span class="position-relative"> Parraine <br class="d-sm-none">tes voisins<img class="img-fluid position-absolute smile" src="/img/sourire.png" alt="tirelire" width="175" height="45"></span>
            </h2>
            <div class="sponsor-baseline text-center">Tu gagnes de l’argent TOUS LES MOIS avec tes filleuls et tes p’tits filleuls</div>
            <div class="row no-gutters m-auto d-flex">
                <div class="col-12 col-lg-5 col-xl-6 tirelire">
                    <img class="mb-2 img-fluid" src="/img/tirelire.png" alt="tirelire" width="511" height="566">
                    <div class="text-center talk-around">Parles-en autour de toi<br>et remplis ta tirelire !</div>
                    <a href="#" title="Je parraine !" class="rounded-pill px-3 btn btn-sm bg-white text-orange i-sponsor">je parraine</a>
                </div>
                <div class="col-12 col-lg-7 col-xl small-godchild">
                    <img class="mb-2 img-fluid" src="/img/ptits-fillots.png" alt="tirelire" width="845" height="782">
                </div>
            </div>
            <img src="/img/city-cochon-blue.png" class="backcochon" width="1061" height="627" alt="fond ville parraine tes voisins">
        </div>
    </div>
    {% include 'includes/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('@cms') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('@cms') }}
{% endblock %}
