{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
	{% include 'includes/header.html.twig' %}
    <div class="container internalContainerBig p-0">
        <div class="internalTitle">
            Les services
        </div>
    </div>
    <div class="container-fluid p-0 cms-services">
        <div class="container d-flex flex-column align-items-center neighbors-services">
            <img class="img-fluid" src="/img/services-voisins.png" alt="femme avec ordinateur et téléphone géolocalisé" width="855" height="395">
        </div>
    </div>

    <div class="container-fluid p-0">


        <div id="carouselHow" class="container how-it-work carousel slide carousel-slide" data-ride="carousel" data-interval="false">
            <h2 class="text-center"> Comment <br class="d-md-none">ça marche ?</h2>
            <!-- Indicateurs -->
            <ul class="carousel-indicators">
                <li data-target="#carouselHow" data-slide-to="0" class="active"></li>
                <li data-target="#carouselHow" data-slide-to="1"></li>
                <li data-target="#carouselHow" data-slide-to="2"></li>
            </ul>

            <!-- Carrousel -->
            <div class="how-bloc mb-3 text-center carousel-inner">
            <div class="carouselitem1 how carousel-item active" data-interval="5000">
                <div class="how-body">
                    <img src="/img/comment-1.png" alt="tablette tactile" width="335" height="303" class="img-fluid">
                    <h3 class="m-auto">Rejoins toi aussi<br>ton quartier</h3>
                    <h4 class="position-relative">9<small class="position-absolute">€99/mois</small><span class="no-engagment">sans engagment</span></h4>
                </div>
            </div>
            <div class="carouselitem2 how carousel-item" data-interval="5000">
                <div class="how-body">
                    <img src="/img/comment-2.png" alt="tablette tactile" width="336" height="303" class="img-fluid">
                    <h3 class="m-auto">Consulte les services<br>ou discute avec tes voisins</h3>
                    <h4 class="upper">Tout est inclus !</h4>
                </div>
            </div>
            <div class="carouselitem3 how carousel-item" data-interval="5000">
                <div class="how-body">
                    <img src="/img/comment-3.png" alt="bulle et argent" width="326" height="303" class="img-fluid">
                    <h3 class="m-auto">Parraine et gagne de<br>l’argent tous les mois</h3>
                    <h4 class="upper">Arrondis tes fins de mois</h4>
                </div>
            </div>
            </div>
        
            <!-- Contrôles -->
            <a class="carousel-control-prev" href="#carouselHow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselHow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
    {% include 'includes/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('@cms') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('@cms') }}
{% endblock %}
