{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
	{% include 'includes/header.html.twig' %}
    <div class="container internalContainerBig p-0">
        <div class="internalTitle">
            Les services
        </div>
    </div>
    {% include 'includes/footer.html.twig' %}
{% endblock %}
