{% extends 'base.html.twig' %}

{% block title %}Hello MyPlanController!{% endblock %}

{% block body %}
{% include 'includes/header.html.twig' %}
<div class="container internalContainerBig p-0">
    <h1 class="internalTitle">
        Mon abonnement
    </h1>
    <div class="row internalContainerBig">
        <div class="col-3">
        {% include 'includes/accountmenu.html.twig' %}
        </div>
        <div class="col-9">
        </div>
    </div>
</div>
{% include 'includes/footer.html.twig' %}
{% endblock %}
