<div class="menu-left">
    <ul class="menu-list">
        <li><a href="#" class="{% if app.request.attributes.get('_route') == 'app_actuality_feed' %}active{% endif %}">Accueil</a></li>
        <li><a href="#"> Rechercher</a></li>
        <li><a href="#"> Poster une annonce</a></li>
        <li><a href="#"> Les demandes</a></li>
        <li><a href="#"> Parrainage</a></li>
        <li><a href="#">Les p'tites annonces</a></li>
        <li><a href="#">Papoter</a></li>
    </ul>
</div>