<div class="container-fluid footer">
    <footer>
        <div class="papote">
            Papote avec<br>tes voisins
            <img src="/img/papote.png" width="118" height="102" alt="bulle papote avec tes voisins">
        </div>
        <div class="row d-block d-lg-none menuFooter">
            <div class="col-12 col-md footerLinks accordion" id="accordionFooter">
                <h5 class="titleMenuFooter collapsed" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">Happy Voisin</h5>
                <ul id="collapse2" class="list-unstyled text-small collapse" data-bs-parent="#accordionFooter">
                <li><a href="/nous-contacter">Écris-nous</a></li>
                <li><a href="/fil_actualite">Mon compte</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">facebook</a></li>
                <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                <li><a href="/parrainage">Parrainage</a></li>
                <li><a href="/les-services">Les services</a></li>
                <li><a href="/cgv">CGV</a></li>
                <li><a href="/mentions-legales">Mentions légales</a></li>
                <li><a href="/politique-de-confidentialite">Confidentialité</a></li>
                </ul>
            </div>
        </div>
        <div class="row d-none d-lg-flex">
            <div class="col-12 col-md footerLinks">
                <h5>Contact</h5>
                <ul class="list-unstyled text-small">
                <li><a href="/nous-contacter">Écris-nous</a></li>
                <li><a href="/fil_actualite">Mon compte</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">facebook</a></li>
                </ul>
            </div>
            <div class="col-12 col-md footerLinks">
                <h5>S'informer</h5>
                <ul class="list-unstyled text-small">
                <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                <li><a href="/parrainage">Parrainage</a></li>
                <li><a href="/les-services">Les services</a></li>
                </ul>
            </div>
            <div class="col-12 col-md footerLinks">
                <h5>Infos légales</h5>
                <ul class="list-unstyled text-small">
                <li><a href="/cgv">CGV</a></li>
                <li><a href="/mentions-legales">Mentions légales</a></li>
                <li><a href="/politique-de-confidentialite">Confidentialité</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">©Happy-voisin.fr - 2020</div>
    </footer>
</div>