<div class="container-fluid footer">
    <footer>
        <div class="papote">
            Papote avec<br>tes voisins
            <img src="/img/papote.png" width="118" height="102" alt="bulle papote avec tes voisins">
        </div>
        <div class="row d-block d-lg-none menuFooter">
            <div class="col-12 col-md footerLinks accordion" id="accordionFooter">
                <h5 class="titleMenuFooter collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">Happy Voisin</h5>
                <ul id="collapse2" class="list-unstyled text-small collapse" data-parent="#accordionFooter">
                <li><a href="#">Écris-nous</a></li>
                <li><a href="#">Mon compte</a></li>
                <li><a href="#">facebook</a></li>
                <li><a href="#">Comment ça marche ?</a></li>
                <li><a href="#">Parrainage</a></li>
                <li><a href="#">Les services</a></li>
                <li><a href="#">CGV</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Confidentialité</a></li>
                </ul>
            </div>
        </div>
        <div class="row d-none d-lg-flex">
            <div class="col-12 col-md footerLinks">
                <h5>Contact</h5>
                <ul class="list-unstyled text-small">
                <li><a href="#">Écris-nous</a></li>
                <li><a href="#">Mon compte</a></li>
                <li><a href="#">facebook</a></li>
                </ul>
            </div>
            <div class="col-12 col-md footerLinks">
                <h5>S'informer</h5>
                <ul class="list-unstyled text-small">
                <li><a href="#">Comment ça marche ?</a></li>
                <li><a href="#">Parrainage</a></li>
                <li><a href="#">Les services</a></li>
                </ul>
            </div>
            <div class="col-12 col-md footerLinks">
                <h5>Infos légales</h5>
                <ul class="list-unstyled text-small">
                <li><a href="#">CGV</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Confidentialité</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">©Happy-voisin.fr - 2020</div>
    </footer>
</div>