<nav id="navbar_top" class="navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>	
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item"><a class="badge nav-link" href="/comment-ca-marche"> Comment ça marche ? </a></li>
                <li class="nav-item"><a class="rounded-pill btn btn-sm spontsorship-navbar" href="/parrainage"> Je parraine </a></li>
            </ul>
        </div> <!-- navbar-collapse.// -->
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="rounded-pill btn btn-sm services-navbar" href="/les-services"> Les services </a></li>
            <li class="nav-item"><a class="badge nav-link" href="/annonces/ajouter-annonce"> Je publie une annonce </a></li>
            <li class="nav-item nav-item-inscription"><a class="btn btn-sm btn-inscription" href="{{ path('app_login') }}"> Je m'inscris </a></li>
        </ul>
    </div> <!-- container.// -->
</nav>