<nav id="navbar_top" class="navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>	
        <img class="logo-happyvoisin-interne d-block mx-auto mb-4 position-absolute" data-aos="example-anim3" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" src="/build/img/logo-interne.png" alt="logo happy voisin" width="149" height="169">
        <div class="collapse navbar-collapse justify-content-center" id="main_nav">
            <ul class="navbar-nav navbar-left">
                {# <li class="nav-item"><a class="badge nav-link" href="#"> <img class="logo-happyvoisin d-block mx-auto mb-4 position-relative" data-aos="example-anim3" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" src="/build/img/logo-interne.png" alt="logo happy voisin" width="149" height="169">  </a></li> #}
                <li class="nav-item"><a class="badge nav-link" href="#"> Accueil </a></li>
                <li class="nav-item"><a class="badge nav-link" href="#"> Papoter </a></li>
                <li class="nav-item"><a class="badge nav-link" href="#"> Les p'tites annonces </a></li>
                <li class="nav-item"><a class="rounded-pill btn btn-sm spontsorship-navbar" href="#"> Les demandes </a></li>
                <li class="nav-item"><a class="badge nav-link" href="#"> Poster une annonce </a></li>
            </ul>
        </div> <!-- navbar-collapse.// -->
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="badge nav-link" href="#"> Ville </a></li>
            <li class="nav-item nav-item-inscription"><a class="btn btn-sm btn-inscription" href="#"> Mon compte </a></li>
        </ul>
    </div> <!-- container.// -->
</nav>