{% extends 'base.html.twig' %}

{% block title %}Hello ConfidentialiteController!{% endblock %}

{% block body %}
	{% include 'includes/header.html.twig' %}
    <div class="container internalContainerBig p-0">
        <div class="internalTitle">
            Politique de Confidentialité
        </div>
    </div>
    {% include 'includes/footer.html.twig' %}
{% endblock %}
