{% extends 'base.html.twig' %}

{% block title %}Hello ConfidentialiteController!{% endblock %}

{% block body %}
	{% include 'includes/header.html.twig' %}
    <div class="container internalContainerBig p-0">
        <h1 class="internalTitle">
            Politique de Confidentialité
        </h1>
    </div>
    {% include 'includes/footer.html.twig' %}
{% endblock %}
