body {
    background: rgb(15,79,192);
    background: linear-gradient(45deg, rgba(15,79,192,1) 0%, rgba(15,163,192,1) 100%);
}
.internalTitle {
    color: white;
    margin-top: -40px;
}

.form-group {
    .form-control {
        background: rgba(255, 255, 255, 0.1);
        &::placeholder {
            color: #FFF !important;
        }
    }
}

.container-fluid {
    &.footer {
        background: none !important;
        border-top: 1px solid #278cc6;
        height: auto !important;
        footer {
            padding-top: 0px;
            padding-bottom: 40px;
            .copyright {
                margin-top: 40px;
            }
        }
    }
}

@media (min-width:992px) {
    .navbar {
        background: none;
        .container-fluid {
            .navbar-nav {
                &.ml-auto{
                    margin-right: initial !important;
                }
            }
        }
    }
}