.container-form {
    padding: 0 15px;
    max-width: 745px;
    margin: 70px auto;
  }
  
  .form-group {
    margin-bottom: 21px;
    
    .form-control {
      height: 89px;
      background-color: #f9f9f9;
      border-radius: 5px;
      border: none;
      padding: 0 2.75rem; // équivalent à 0 47px
      font-size: 18px;
      color: #000000;
      
      &::placeholder {
        color: #666666 !important;
      }
    }
    
    textarea {
      height: 297px !important;
      padding-top: 37px !important;
      resize: none; // Empêche la redimension du textarea
    }
  }
  