{% extends 'base.html.twig' %}

{% block title %}Hello ActualityFeedController!{% endblock %}

{% block body %}
	{% include 'includes/header.html.twig' %}

    <div class="container internalContainer p-0">
        <div class="internalTitle">
            Mon fil d'actualité
        </div>
        <div class="jePapoteInput">
        </div>
        <div class="messagesFeed">
            <div class="itemMessages">
                <span class="nameMessages">Jane Doe</span><br>
                <span class="dateMessages">Aujourd'hui à 20:20 - Ville</span>
                <p class="message">Bonjour, je recherche une crèche pour mon enfant de 1 an dans le quartier de St Philippe. 
                Avez-vous des recommandations ? Merci</span>
            </div>
            <div class="form-group p-2">
                <div class="d-flex flex-row justify-content-center" aria-label="Choix type">
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="checkbox" checked autocomplete="off"> Tout
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="listAnnouncements">
            <div class="titleListAnnouncements">
                Les dernières P'tites annonces
            </div>
        </div>
        {# {% for announcement in announcements %} #}
            <div id="item_announcement_{#{announcement.id}#}" class="row announces-item">
                <div class="col-md-4 thumb-annnouncementlist">
                    <img src="/build/img/img_annonce.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 content-annnouncementlist">
                    <div class="d-flex head-content-annnouncementlist">
                        <div class="hour-annnouncementlist">Aujourd'hui à 22:20 - Par Sarah</div>
                        <div class="ml-auto price-annnouncementlist">10€ <span class="badge badge-secondary bg-orange">{#{announcement.object}#}</span></div>
                    </div>
                    <div class="content-annnouncementlist">
                        <h3 class="title-annnouncementlist">{#{announcement.title}#}</h3>
                        <p class="description-annnouncementlist">{#{announcement.description}#}</p>
                        <a href="/annonces/{#{announcement.id}#}-{#{announcement.slug}#}">annonce</a>
                        <div class="categories-annnouncementlist"><a href="#">Objet</a><a href="#">Électroménager</a></div>
                    </div>
                </div>
            </div><hr>
        {# {% endfor %} #}
    </div>

    {% include 'includes/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('@ads') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('@ads') }}
{% endblock %}