{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
{% include 'includes/header.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container internalContainerBig p-0">
    <div class="internalTitle">
        Mon fil d'actualité
    </div>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/thomasguerri/Documents/Perso/sites/localhost/hpvsnfront/src/Controller/Account/AccountController.php'|file_link(0) }}">src/Controller/Account/AccountController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/thomasguerri/Documents/Perso/sites/localhost/hpvsnfront/templates/account/account/index.html.twig'|file_link(0) }}">templates/account/account/index.html.twig</a></code></li>
    </ul>
</div>
{% include 'includes/footer.html.twig' %}
{% endblock %}
